body {
    background-image: url('../img/bg.jpg');
    background-color: rgba(0, 0, 0, 0.13);
}

.box {
    padding: 20px;
    display: flex;
    background-color: rgb(255, 255, 255);
}

h1 {
    color: black;
    box-shadow: white;
}

h2, h3{
    text-align: center;
}

button {
    background: url('https://t2.rg.ltmcdn.com/pt/images/4/5/2/img_torta_de_bolacha_com_flan_e_chocolate_4254_600.jpg');
    color: white;
    text-align: left;
    padding-left: 30px;
    height: 100px;
    
}

.accordion {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    border-radius: 5%;
}