@import url(//db.onlinewebfonts.com/c/474c729bb9f706dac41385247d5dbc7c?family=Culinary);
@font-face {font-family: "Culinary"; src: url("//db.onlinewebfonts.com/t/474c729bb9f706dac41385247d5dbc7c.eot");}

body {
    background-image: url('../img/bg.jpg');
}

.box {
    padding: 20px;
    display: flex;
    background-color: #fefefe;
}

header {
    background-color: #fefefe;
}

h1 {
    color: rgb(129, 119, 119);
    padding: 20px 0px 10px 30px;
    margin: 0px!important;
    font-family: "Culinary";
    font-weight: bold;
    font-size: 50px!important;
}

h2, h3{
    text-align: center;
    font-family: "Culinary";
}

button {
    border: none!important;
    outline: none!important;
    background: url('../img/pavlova.jpg');
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-weight: bolder;
    font-size: 40px !important;
    text-align: left;
    padding-left: 30px;
    height: 100px;
    text-shadow: 3px 3px 2px white, 4px 4px 2px white, 1px 1px 1px white;
    font-family: "Culinary"!important;
}


.accordion {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    border-radius: 5%;
}