@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    background-image: url('../img/bg.jpg');
    background-color: rgba(0, 0, 0, 0.13);
    overflow: scroll;
    overflow-x: hidden;
}

.box {
    padding: 20px;
    display: flex;
    background-color: #fefefe;
}

header {
    background-color: #fefefe;
}

h1 {
    color: rgb(129, 119, 119) !important;
    padding: 20px 0px 10px 10px;
    margin: 0px!important;
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    font-size: 50px!important;
    background-color: rgb(255, 255, 255);
}

h2, h3{
    color: rgb(129, 119, 119) !important;
    font-size: 40px !important;
    text-align: center;
    font-family: 'Great Vibes', cursive!important;
}

button {
    border: none!important;
    outline: none!important;
    background: url('../img/pavlova.jpg');
    background-position-y: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    color: black !important;
    font-size: 40px !important;
    text-align: left;
    padding-left: 30px;
    height: 125px;
    text-shadow: 1px 1px 1px white, 2px 2px 2px white, 3px 3px 3px white;
    font-family: 'Great Vibes', cursive!important;
}

.container {
    max-width: 1500px!important;
}

.accordion {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    border-radius: 5%;
}

ul {
    list-style-type: circle;
}

header {
    display: flex!important;
}

header img {
    padding-left: 20px;
    width: 100px;
}